<!--
  ~  Copyright Kaiserpfalz EDV-Service, Roland T. Lichti , 2019. All rights reserved.
  ~
  ~  This file is part of Kaiserpfalz EDV-Service Office.
  ~
  ~  This is free software: you can redistribute it and/or modify it under the terms of
  ~   the GNU Lesser General Public License as published by the Free Software
  ~   Foundation, either version 3 of the License.
  ~
  ~  This file is distributed in the hope that it will be useful, but WITHOUT ANY
  ~  WARRANTY; without even the implied warranty of MERCHANTABILITY or
  ~  FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public
  ~  License for more details.
  ~
  ~  You should have received a copy of the GNU Lesser General Public License along
  ~  with this file. If not, see <http://www.gnu.org/licenses/lgpl-3.0.html>.
  -->

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false" xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
        </layout>
    </appender>

    <appender name="fileAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="application.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
        </layout>
    </appender>

    <category name="de.kaiserpfalzedv" additivity="true">
        <priority value="trace"/>
    </category>

    <category name="io.restassured.internal" additivity="true">
        <priority value="trace"/>
    </category>

    <root>
        <priority value="trace"/>
        <appender-ref ref="console"/>
        <appender-ref ref="fileAppender"/>
    </root>
</log4j:configuration>
